#scene {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;

  background: radial-gradient(
    ellipse farthest-corner at left top,
    #020F17 0%,
    #01141C 42.9%, #00171E 53.65%, #001820 69.79%, #00272D 81.77%, #003337 89.58%, #133735 100%
  );
}