@function radialSky($position, $opacity) {
  @return radial-gradient(
    circle farthest-corner at $position top,
    transparentize(#020f17, $opacity) 0%,
    transparentize(#01141c, $opacity) 42.9%,
    transparentize(#00171e, $opacity) 53.65%,
    transparentize(#001820, $opacity) 69.79%,
    transparentize(#00272d, $opacity) 81.77%,
    transparentize(#003337, $opacity) 89.58%,
    transparentize(#133735, $opacity) 100%,
  )
}

#scene {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background:
    radialSky(left, .80),
    radialSky(right, .83),
    radialSky(center, .65),
}
